<div class="modal-header">
    <h4 class="modal-title">{{ FolderFilePathDialogController.title }}</h4>
</div>
<div class="modal-body">
    <p class="help-block text-danger" ng-show="FolderFilePathDialogController.isErrorInfoPath"> {{ FolderFilePathDialogController.localized.ErrorInfoPath }}</p>
    <p class="help-block text-danger" ng-show="FolderFilePathDialogController.isErrorInfoFileName">{{ FolderFilePathDialogController.localized.ErrorInfoFileName }} </p>
    <p>{{ FolderFilePathDialogController.localized.Path }} : {{ FolderFilePathDialogController.spath }}</p>
    <div class="form-group">
        <div class="container-fluid">
            <div class="row table-bordered">
                <div class="col-md-6">
                    <strong>{{ FolderFilePathDialogController.localized.Name }}</strong>
                </div>
                <div class="col-md-6" ng-show="FolderFilePathDialogController.colShow">
                    <strong>{{ FolderFilePathDialogController.localized.AvailableSpace }}</strong>
                </div>
            </div>
            <div class="row table-bordered" ng-repeat="info in FolderFilePathDialogController.fileInformations">
                <div class="col-md-6">
                    <a ng-click="FolderFilePathDialogController.select(info)">{{ info.Name }}</a>
                </div>
                <div class="col-md-6" ng-show="FolderFilePathDialogController.colShow">
                    {{ info.Size }} {{ FolderFilePathDialogController.localized.MB }}
                </div>
            </div>
        </div>
    </div>
     <div>
         <div ng-show="FolderFilePathDialogController.showFileName">{{ FolderFilePathDialogController.localized.FileName }} <input type="text" ng-model="FolderFilePathDialogController.lnModalFileName" /></div>
     </div>
 </div>   
<div class="modal-footer">
    <button class="btn btn-default" ng-click="FolderFilePathDialogController.cancel()">{{ FolderFilePathDialogController.localized.Cancel }}</button>
    <button class="btn btn-primary" ng-click="FolderFilePathDialogController.ok()">{{ FolderFilePathDialogController.localized.Ok }}</button>
</div>
