
<div class="navigator">
    <div class="input-group">
        <div class="input-group-btn">
            <span ng-click="first()" ng-if="isAdvanced" class="btn btn-default" ng-disabled="disablePrev()">
                <span class="glyphicon glyphicon-step-backward"></span>
            </span>
            <span ng-click="prev()" class="btn btn-default" ng-disabled="disablePrev()">
                <span class="glyphicon glyphicon-chevron-left glyphicon-lg"></span>
            </span>
        </div>
        <input type="text" ng-model="currentRecordNumber"
               ng-keypress="submitForm($event)"
               class="form-control" /><span class="input-group-addon">/ {{totalItems}} {{label}}</span>
        <div class="input-group-btn">
            <span ng-click="next()" class="btn btn-default" ng-disabled="disableNext()">
                <span class="glyphicon glyphicon-chevron-right glyphicon-lg"></span>
            </span>
            <span ng-click="last()" ng-if="isAdvanced" class="btn btn-default" ng-disabled="disableNext()">
                <span class="glyphicon glyphicon-step-forward"></span>
            </span>
        </div>
    </div>
</div>