<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="ChromeDriverPath" value="C:\Webdrivers\Chromedriver" />
    <add key="DriverScriptTimeout" value="30" />

    <add key="LoadWaitTimeOut" value="30" />
    <add key ="ResilienceCount" value="3"/>
    <add key="ImplicitWait" value="30"/>
    <add key="Host" value="http://localhost" />
    <add key="Port" value="53430" />
    
    <add key="PCCreateProjectURL" value="app/analytics/approot#/wizard" />
    <add key="PCAdminDashboardURL" value="app/analytics/approot#/dashboard" />
    <add key="PCReviewDashboardURL" value="app/review/approot#/dashboard" />
    <add key="PCReviewerURL" value="app/review/approot#/control" />
    <add key="PCDocListURL" value="app/review/approot#/doclist" />
    <add key="PCControlSetReviewURL" value="app/review/approot#/analysissets/controlset/1/0/from_review/to_docview/All" />

    <add key="PCAppStateURL" value="api/appstate" />
    <add key="PCWorkflowStateURL" value="api/orgs/{0}/matters/{1}/datasets/{2}/projects/{3}/analysisset/{4}/analytics/workflow-state" />

    <add key="AnalyticsProject" value="Predictive Coding Project" />

  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.0.0.0" newVersion="7.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>