<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog" />
  <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 --></configSections>
  <nlog autoReload="true" throwExceptions="false" internalLogFile="C:\ProgramData\CHEV\NLog_problems_in_PCWeb.txt" internalLogLevel="Fatal">
    <!-- ASPLayout -->
    <variable name="CustomLayout" value="${date:format=MM/dd/yy HH\:mm\:ss.fff} ${level}: ${logger}: ${message}" />
    <variable name="FacilityName" value="UI" />
    <!-- NLog configuration below this line should be identical in all configuration files -->
    <targets>
      <target name="DebugTargets" type="SplitGroup">
        <target type="Debugger" layout="${CustomLayout}" />
        <target type="File" layout="${CustomLayout}" fileName="${specialfolder:folder=CommonApplicationData}\CHEV\${FacilityName}.log" keepFileOpen="false" archiveFileName="${specialfolder:folder=CommonApplicationData}\CHEV\${FacilityName}_{##}.log" archiveNumbering="Sequence" archiveEvery="Day" archiveAboveSize="100000000" maxArchiveFiles="7" />
      </target>
      <!-- DebugTargets -->
      <target name="TraceFile" type="AsyncWrapper" overflowAction="Discard">
        <target type="File" layout="${CustomLayout}" fileName="${specialfolder:folder=CommonApplicationData}\CHEV\${FacilityName}_MaxTrace.log" keepFileOpen="false" archiveFileName="${specialfolder:folder=CommonApplicationData}\CHEV\${FacilityName}_MaxTrace_{##}.log" archiveNumbering="Sequence" archiveEvery="Day" archiveAboveSize="200000000" maxArchiveFiles="2" />
      </target>
      <target name="InstrumentationCsv" type="File" layout="${date:format=MM/dd HH\:mm\:ss},${message}" fileName="${specialfolder:folder=CommonApplicationData}\CHEV\${FacilityName}Inst.csv" keepFileOpen="true" archiveFileName="${specialfolder:folder=CommonApplicationData}\CHEV\${FacilityName}_{##}.log" archiveNumbering="Sequence" archiveEvery="Day" archiveAboveSize="5000000" maxArchiveFiles="7" />
    </targets>
    <rules>
      <logger name="PC.Web.Instrumentation" minlevel="Info" writeTo="InstrumentationCsv" final="true" />
      <logger name="*" minlevel="Debug" writeTo="DebugTargets" />
      <logger name="*" writeTo="TraceFile" />
    </rules>
  </nlog>
  <connectionStrings>
    <add name="DefaultConnection" providerName="System.Data.SqlClient" connectionString="Data Source=(LocalDb)\v11.0;Initial Catalog=aspnet-CGN.Paralegal.UI-20140924164312;Integrated Security=SSPI;AttachDBFilename=|DataDirectory|\aspnet-CGN.Paralegal.UI-20140924164312.mdf" />
  </connectionStrings>
  <appSettings>
    <add key="AnalyticsService" value="http://localhost.fiddler:2115/AnalyticsService.svc/" />
    <add key="PC.Web.InstrumentationOn" value="true" />
    <add key="DocumentChunkSize" value="25600" />
    <add key="EvWebApi" value="http://localhost.fiddler:2115/api/" />
    
    <add key="RunMode" value="mock" />

  </appSettings>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5.1" />
      </system.Web>
  -->
  <system.web>
    <compilation debug="true" targetFramework="4.5.1" />
    <authentication mode="Forms">
      <forms loginUrl="~/Account/Login" timeout="2880" defaultUrl="~/" />
    </authentication>
    <profile defaultProvider="DefaultProfileProvider">
      <providers>
        <add name="DefaultProfileProvider" type="System.Web.Providers.DefaultProfileProvider, System.Web.Providers, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" connectionStringName="DefaultConnection" applicationName="/" />
      </providers>
    </profile>
    <membership defaultProvider="DefaultMembershipProvider">
      <providers>
        <add name="DefaultMembershipProvider" type="System.Web.Providers.DefaultMembershipProvider, System.Web.Providers, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" connectionStringName="DefaultConnection" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="false" maxInvalidPasswordAttempts="5" minRequiredPasswordLength="6" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10" applicationName="/" />
      </providers>
    </membership>
    <roleManager defaultProvider="DefaultRoleProvider">
      <providers>
        <add name="DefaultRoleProvider" type="System.Web.Providers.DefaultRoleProvider, System.Web.Providers, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" connectionStringName="DefaultConnection" applicationName="/" />
      </providers>
    </roleManager>
    <!--
            If you are deploying to a cloud environment that has multiple web server instances,
            you should change session state mode from "InProc" to "Custom". In addition,
            change the connection string named "DefaultConnection" to connect to an instance
            of SQL Server (including SQL Azure and SQL  Compact) instead of to SQL Server Express.
      -->
    <sessionState mode="InProc" customProvider="DefaultSessionProvider">
      <providers>
        <add name="DefaultSessionProvider" type="System.Web.Providers.DefaultSessionStateProvider, System.Web.Providers, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" connectionStringName="DefaultConnection" />
      </providers>
    </sessionState>
    <pages controlRenderingCompatibilityVersion="4.0" />
  </system.web>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true" />
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Http" publicKeyToken="31BF3856AD364E35" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-5.1.0.0" newVersion="5.1.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31BF3856AD364E35" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-5.1.0.0" newVersion="5.1.0.0" />
			</dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.0.0.0" newVersion="7.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>
