<!--This file has configuration information, need to put it in acessiable place,
Configuration manager read the configuration information from the file.
-->
<configuration>
  <configSections>
    <section name="customSection"
		 type="CGN.Paralegal.Infrastructure.ConfigurationManagement.ApplicationConfigurationSection,  
		 CGN.Paralegal.Infrastructure" restartOnExternalChanges="false"/>
    </configSections>

  <customSection>
    <applications>
      <application name="Concordance">
        <settings>
          <!-- this element is used to identify web app from individual jobs - each job would have a name indicating application name 
							 Used in logging block currently
					-->
          <add name="ApplicationName" value ="WebApp"/>
        </settings>
        <subapplications>
          <subapplication name="Data Security">
            <settings>
              <add name="EncryptionKey" value="29EC5DA04BE11A4F1B1ADADFF423D3661EF7006171ECFB05"/>
            </settings>
          </subapplication>
          <subapplication name="Server Management">
            <settings>
              <add name="1" value="SMTP"/>
              <add name="2" value="SQL"/>
              <add name="3" value="Search"/>
              <add name="4" value="ADServer"/>
            </settings>
          </subapplication>
          <subapplication name="SearchAlert">
            <settings>
              <add name="SearchAlertJobId" value="1" />
            </settings>
          </subapplication>
          <subapplication name="User Management">
            <settings>
              <add name="DocStorage" value="local3"/>
            </settings>
          </subapplication>
          <subapplication name="Folder Management">
            <settings>
              <add name="DefaultCulture" value="4PM5E3qUb0M=" encrypted="true"/>
            </settings>
          </subapplication>

			<subapplication name="ReviewerSearch">
            <settings>
              <add name="Optimize Search" value ="On"/>
              <add name="Search FamilyIDs as Terms" value ="On"/>
              <add name="ServiceTagSize" value="999"/>
              <add name="UITagSeAsyncSize" value="250"/> <!-- If number of docs in UI tagging exceed this value, Call search engine asynchronously -->
            </settings>
       </subapplication>

          <subapplication name="SubscriptionTypes">
            <settings>
              <add name="import" value="1"></add>
              <add name="export" value="2"></add>
              <add name="production" value="3"></add>
              <add name="privilegelog" value="4"></add>
              <add name="de-duplication" value="5"></add>
              <add name="auditdeletion" value="6"></add>
              <add name="reviewsets" value="7"></add>
              <add name="bulkprint" value="8"></add>
              <add name="Clustering" value="9"></add>
            </settings>
          </subapplication>
          <subapplication name="NearNativeViewer">
            <settings>
              <!-- #ifdef _xml_preprocess -->
              <!-- <add name="NotificationService" value="${WCF-HostURL}/DocumentService.svc/Notify"/> -->
              <!-- <add name="QueueServerUrl" value="${QueueServerURL}"/> -->
              <!-- <add name="SourceFolder" value="${IGCSourceFolder}"/> -->
              <!-- <add name="TargetFolder" value="${IGCTargetFolder}"/> -->
              <!-- <add name="UnderConversionLocation" value ="${IGCSourceFolder}\UnderConversion.xdl"/> -->
              <!-- #else -->
              <add name="NotificationService" value="http://10.121.68.37:8001/DocumentService.svc/Notify"/>
              <add name="QueueServerUrl" value="http://10.215.19.35:90/queueserver/Push.aspx"/>
              <add name="SourceFolder" value="\\10.215.19.35\IGCSource"/>
              <add name="TargetFolder" value="\\10.215.19.35\IGCTarget"/>
              <add name="UnderConversionLocation" value ="\\192.168.29.168\IGCJobSource\UnderConversion.xdl"/>
              <!-- #endif -->
              <add name="MatterName" value=""/>
              <add name ="SourceUrl" value ="source"/>
              <add name ="TargetUrl" value ="&amp;target="/>
              <add name ="OutputFormat" value ="&amp;outputformat="/>
              <add name ="NotificationUrl" value ="&amp;notificationurl="/>
            </settings>
          </subapplication>
          <subapplication name="Delivery Options">
            <settings>
              <add name="CompressedFolderName" value="Download Output"></add>
              <add name="SharedFilePath" value="C:"></add>
              <add name="SharedFolderName" value="DocumentDelivery"></add>
              <add name="FromMailId" value="dev@ln.com"></add>
              <add name="FromDisplayName" value="EVAdmin"></add>
              <add name="MailSubject" value="Document emailed from Concordance EV"></add>
              <add name="MailContent" value="Mrs/Mr. $NAME, \n Following documents have been emailed to you from Concordance EV on "></add>
              <add name="MailSignature" value="\n\n Thank you!"></add>
            </settings>
          </subapplication>
          <subapplication name="PrinterServer">
            <settings>
                <add name="UsePrintServerIP" value="Y"></add>
            </settings>
          </subapplication>
          <subapplication name="DeliveryOptionsDocumentTypes">
            <settings>
              <add name="Native" value="1"/>
              <add name="Near Native" value="2"/>
              <add name="Document Data" value="3"/>
              <add name="Snapshot" value="4"/>
              <add name="ProductionSet" value="5"/>
              <add name="ImageSet" value="6"/>
            </settings>
          </subapplication>
          <subapplication name="DeliveryOptionsStatus">
            <settings>
              <add name="Queued" value="1"/>
              <add name="Running" value="2"/>
              <add name="Completed" value="3"/>
              <add name="Cancelled" value="4"/>
              <add name="Failed" value="5"/>
              <add name="Paused" value="6"/>
              <add name="Resume" value="7"/>
            </settings>
          </subapplication>
          <subapplication name="DeliveryTypes">
            <settings>
              <add name="Print" value="1"/>
              <add name="Email" value="2"/>
              <add name="Download" value="3"/>
              <add name="Bulk Print" value="4"/>
            </settings>
          </subapplication>
          <subapplication name="JobLoaderServerIDs">
            <settings>
              <!-- JobTypeId - ServerId, All Jobs Schould Should be created with the below server Id's, These should be equal to the ServerId given in JobLoader Configuration files. -->
              <add name="1"  value="00000000000000000000000000000000"></add>
              <add name="2"  value="00000000000000000000000000000000"></add>
              <add name="3"  value="00000000000000000000000000000000"></add>
              <add name="4"  value="00000000000000000000000000000000"></add>
              <add name="5"  value="00000000000000000000000000000000"></add>
              <add name="6"  value="00000000000000000000000000000000"></add>
              <add name="7"  value="00000000000000000000000000000000"></add>
              <add name="8"  value="00000000000000000000000000000000"></add>
              <add name="9"  value="00000000000000000000000000000000"></add>
              <add name="10" value="00000000000000000000000000000000"></add>
              <add name="11" value="00000000000000000000000000000000"></add>
              <add name="12" value="00000000000000000000000000000000"></add>
              <add name="13" value="00000000000000000000000000000000"></add>
              <add name="14" value="00000000000000000000000000000000"></add>
              <add name="15" value="00000000000000000000000000000000"></add>
              <add name="16" value="00000000000000000000000000000000"></add>
              <add name="17" value="00000000000000000000000000000000"></add>
              <add name="18" value="00000000000000000000000000000000"></add>
              <add name="19" value="00000000000000000000000000000000"></add>
              <add name="20" value="00000000000000000000000000000000"></add>
              <add name="21" value="00000000000000000000000000000000"></add>
              <add name="22" value="00000000000000000000000000000000"></add>
              <add name="23" value="00000000000000000000000000000000"></add>
              <add name="24" value="00000000000000000000000000000000"></add>
              <add name="25" value="00000000000000000000000000000000"></add>
              <add name="26" value="00000000000000000000000000000000"></add>
              <add name="27" value="00000000000000000000000000000000"></add>
              <add name="28" value="00000000000000000000000000000000"></add>
              <add name="29" value="00000000000000000000000000000000"/>
              <add name="30" value="00000000000000000000000000000000"/>
              <add name="31" value="00000000000000000000000000000000"/>
              <add name="32" value="00000000000000000000000000000000"/>
              <add name="33" value="00000000000000000000000000000000"/>
              <add name="35" value="00000000000000000000000000000000"/>
              <add name="36" value="00000000000000000000000000000000"/>
              <add name="37" value="00000000000000000000000000000000"/>
              <add name="38" value="00000000000000000000000000000000"/>
              <add name="40" value="00000000000000000000000000000000"/>
              <add name="41" value="00000000000000000000000000000000"/>
              <add name="42" value="00000000000000000000000000000000"/>
              <add name="43" value="00000000000000000000000000000000"/>
              <add name="44" value="00000000000000000000000000000000"/>
              <add name="45" value="00000000000000000000000000000000"/>
              <add name="46" value="00000000000000000000000000000000"/>
              <add name="47" value="00000000000000000000000000000000"/>
              <add name="48" value="00000000000000000000000000000000"/>
              <add name="49" value="00000000000000000000000000000000"/>
              <add name="51" value="00000000000000000000000000000000"/>
              <add name="52" value="00000000000000000000000000000000"/>
              <add name="53" value="00000000000000000000000000000000"/>
              <add name="54" value="00000000000000000000000000000000"/>
              <add name="55" value="00000000000000000000000000000000"/>
              <add name="56" value="00000000000000000000000000000000"/>
              <add name="57" value="00000000000000000000000000000000"/>
              <add name="58" value="00000000000000000000000000000000"/>
              <add name="59" value="00000000000000000000000000000000"/>
            </settings>
          </subapplication>

          <subapplication name="JobTypes">
            <settings>
              <add name="1" value="AuditLog Delete Job"></add>
              <add name="2" value="DCB Import Job"></add>
              <add name="3" value="Delete DataSet Job"></add>
              <add name="4" value="Search Alerts Job"></add>
              <add name="5" value="Global Replace Job"></add>
              <add name="6" value="DeDuplication Job"></add>
              <add name="7" value="Update ServerStatus Job"></add>
              <add name="8" value="EDocs Emails Imports Job "></add>
              <add name="9" value="Production Set Job"></add>
              <add name="10" value="Email Documents Job"></add>
              <add name="11" value="Print Documents Job"></add>
              <add name="12" value="Download Documents"></add>
              <add name="13" value="Find and Replace Redaction XML"></add>
              <add name="14" value="Load File Imports"></add>
              <add name="15" value="Refresh Reports Job"></add>
              <add name="16" value="Reviewer BulkTag Job"></add>
              <add name="17" value="ReviewSet Creation Job"></add>
              <add name="18" value="ReviewSet Update Job"></add>
              <add name="19" value="Merge ReviewSet Job"></add>
              <add name="20" value="Spilt ReviewSet Job"></add>
              <add name="21" value="PrivilegeLog Job"></add>
              <add name="22" value="Export DCB Job"></add>
              <add name="23" value="Export LoadFile Job"></add>
              <add name="24" value="Save SearchResult Job"></add>
              <add name="25" value="Compare SaveSearchResult Job"></add>
              <add name="26" value="Delete DocumentField Job"></add>
              <add name="27" value="BulkPrint Job"></add>
              <add name="28" value="Convert DCBLinksToCaseMap Job"></add>
              <add name="29" value="BulkTag Delete Job"></add>
              <add name="30" value="Send DocumentLinksToCaseMap Job"></add>
              <add name="32" value="Full Document Static Clustering Job"></add>
              <add name="33" value="Matter Backup Restore Job"></add>
              <add name="35" value="Law Import Job"></add>
              <add name="36" value="Conversion ReProcess"></add>
              <add name="37" value="Near Deduplication Job"></add>
              <add name="38" value="ConversionResults Export"></add>
              <add name="40" value="LAW PreDiscovery Sync Job"></add>
              <add name="41" value="LAW PreDiscovery Sync Reprocess Job"></add>
              <add name="42" value="Billing Report Job"></add>
              <add name="43" value="Analytics Create Project"/>
              <add name="44" value="Analyze Repeated Content"></add>
              <add name="45" value="Create ControlSet Job"></add>
              <add name="46" value="Create Trainingset Job"></add>

              <add name="47" value="Create PredictionSet Job"></add>
              <add name="48" value="Create Verification Job"></add>
              <add name="49" value="Index Documents"></add>
              <add name="50" value="ReIndexDocuments Jobs"></add>
              <add name="51" value="Include Documents into Project Job"></add>
              <add name="52" value="Include Documents into Project in SubSystems Job"></add>
              <add name="53" value="Include Documents into Project Reprocess Job"></add>
              <add name="54" value="Export Analysisset documents"></add>
              <add name="55" value="Categorize controlset"></add>
              <add name="56" value="Categorize All"></add>
              <add name="57" value="Categorize Analysisset"></add>
              <add name="58" value="Delete Analytic Project Job"></add>
              <add name="59" value="Train Model Job"></add>
            </settings>
          </subapplication>
          <subapplication name="FileExtensionFromMimeType">
            <settings>
              <add name="application/vnd.ms-excel" value="xls"></add>
              <add name="application/msword" value="doc"></add>
              <add name="text/plain" value="txt"></add>
              <add name="application/xml" value="xml"></add>
              <add name="application/vnd.ms-outlook" value="msg"></add>
              <add name="application/vnd.ms-powerpoint" value="ppt"></add>
              <add name="image/tiff" value="tif"></add>
              <add name="image/x-tiff" value="tif"></add>
              <add name="image/jpeg" value="jpg"></add>
              <add name="image/png" value="png"></add>
              <add name="image/bmp" value="bmp"></add>
              <add name="image/gif" value="gif"></add>
              <add name="application/pdf" value="pdf"></add>
              <add name="text/html" value="unknown"></add>
              <add name="application/vnd.ms-word.document.macroEnabled.12" value="docm"></add>
              <add name="application/vnd.openxmlformats-officedocument.wordprocessingml.document" value="docx"></add>
              <add name="application/vnd.ms-word.template.macroEnabled.12" value="dotm"></add>
              <add name="application/vnd.openxmlformats-officedocument.wordprocessingml.template" value="dotx"></add>
              <add name="application/vnd.ms-powerpoint.template.macroEnabled.12" value="potm"></add>
              <add name="application/vnd.openxmlformats-officedocument.presentationml.template" value="potx"></add>
              <add name="application/vnd.ms-powerpoint.addin.macroEnabled.12" value="ppam"></add>
              <add name="application/vnd.ms-powerpoint.slideshow.macroEnabled.12" value="ppsm"></add>
              <add name="application/vnd.openxmlformats-officedocument.presentationml.slideshow" value="ppsx"></add>
              <add name="application/vnd.ms-powerpoint.presentation.macroEnabled.12" value="pptm"></add>
              <add name="application/vnd.openxmlformats-officedocument.presentationml.presentation" value="pptx"></add>
              <add name="application/vnd.ms-excel.addin.macroEnabled.12" value="xlam"></add>
              <add name="application/vnd.ms-excel.sheet.binary.macroEnabled.12" value="xlsb"></add>
              <add name="application/vnd.ms-excel.sheet.macroEnabled.12" value="xlsm"></add>
              <add name="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet" value="xlsx"></add>
              <add name="application/vnd.ms-excel.template.macroEnabled.12" value="xltm"></add>
              <add name="application/vnd.openxmlformats-officedocument.spreadsheetml.template" value="xltx"></add>
              <add name="application/zip" value="zip"></add>
            </settings>
          </subapplication>
        </subapplications>
      </application >
    </applications>
  </customSection>
  <appSettings>
    <add key="LTN.Analytics.Common.InstrumentationOn" value="true" />
  </appSettings>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding />
    </bindings>
  </system.serviceModel>

</configuration>
