<?xml version="1.0" encoding="utf-8"?>
<!-- 
    Note: As an alternative to hand editing this file you can use the 
    web admin tool to configure settings for your application. Use
    the Website->Asp.Net Configuration option in Visual Studio.
    A full list of settings and comments can be found in 
    machine.config.comments usually located in 
    \Windows\Microsoft.Net\Framework\v2.x\Config 
-->
<configuration>


  <configSections>

    <section name="enterpriseLibrary.ConfigurationSource" type="Microsoft.Practices.EnterpriseLibrary.Common.Configuration.ConfigurationSourceSection, Microsoft.Practices.EnterpriseLibrary.Common, Version=6.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
    <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Microsoft.Practices.Unity.Configuration" />
    <section name="byPassAuthentication" type="System.Configuration.NameValueSectionHandler, System, Version = 4.0.0.0, Culture = neutral,PublicKeyToken = B77A5C561934E089" />
    <section name="EVUserNameToServerIdOverride" type="System.Configuration.DictionarySectionHandler, System, Version = 4.0.0.0, Culture = neutral,PublicKeyToken = B77A5C561934E089" />
    <section name="serverClusterSection" type="CGN.Paralegal.Infrastructure.ConfigurationManagement.ServerClusterConfigurationSection, CGN.Paralegal.Infrastructure" />
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 --></configSections>
  <nlog autoReload="true" throwExceptions="false" internalLogFile="C:\ProgramData\CHEV\NLog_problems_in_Services.txt" internalLogLevel="Fatal">
    <!-- ASPLayout -->
    <variable name="CustomLayout" value="${date:format=MM/dd/yy HH\:mm\:ss.fff} ${level}: ${logger}: ${message}" />
    <variable name="FacilityName" value="Services" />
    <!-- NLog configuration below this line should be identical in all configuration files -->
    
    <targets>
      <target name="LogFile" type="SplitGroup">
        <target type="Debugger" layout="${CustomLayout}" />
        <target type="File" layout="${CustomLayout}" fileName="${specialfolder:folder=CommonApplicationData}\CHEV\${FacilityName}_SearchSubSystem.log" keepFileOpen="true" archiveFileName="${specialfolder:folder=CommonApplicationData}\CHEV\${FacilityName}_{##}_SearchSubSystem.log" archiveNumbering="Sequence" archiveEvery="Day" archiveAboveSize="5000000" maxArchiveFiles="7" />
      </target>

      <target name="InstrumentationCsv" type="File" layout="${date:format=MM/dd HH\:mm\:ss},${message}" fileName="${specialfolder:folder=CommonApplicationData}\CHEV\${FacilityName}Inst_SearchSubSystem.csv" keepFileOpen="true" archiveFileName="${specialfolder:folder=CommonApplicationData}\CHEV\${FacilityName}Inst_{##}_SearchSubSystem.csv" archiveNumbering="Sequence" archiveEvery="Day" archiveAboveSize="5000000" maxArchiveFiles="7" />
    </targets>

    <extensions>
      <add assembly="CGN.Paralegal.Infrastructure" />
    </extensions>
    <targets>
      <target name="DebugTargets" type="SplitGroup">
        <target type="Debugger" layout="${CustomLayout}" />
        <target type="File" layout="${CustomLayout}" fileName="${specialfolder:folder=CommonApplicationData}\CHEV\${FacilityName}.log" keepFileOpen="false" archiveFileName="${specialfolder:folder=CommonApplicationData}\CHEV\${FacilityName}_{##}.log" archiveNumbering="Sequence" archiveEvery="Day" archiveAboveSize="100000000" maxArchiveFiles="7" />
      </target>
      <!-- DebugTargets -->
      <target name="TraceFile" type="AsyncWrapper" overflowAction="Discard">
        <target type="File" layout="${CustomLayout}" fileName="${specialfolder:folder=CommonApplicationData}\CHEV\${FacilityName}_MaxTrace.log" keepFileOpen="false" archiveFileName="${specialfolder:folder=CommonApplicationData}\CHEV\${FacilityName}_MaxTrace_{##}.log" archiveNumbering="Sequence" archiveEvery="Day" archiveAboveSize="200000000" maxArchiveFiles="2" />
      </target>
      <!-- TraceFile -->
      <!-- This is the way to debug DBLog target without Async complexity -->
      <!--<target name="DBLog" type="SplitGroup">-->
      <target name="DBLog" type="AsyncWrapper" overflowAction="Discard">
        <target type="Database" connectionStringName="ConcordanceLogConnection">
          <commandText>
            INSERT INTO NLog(Time, Level, CorrelationId, MachineName, ProcessName, ThreadName, Logger, Message)
            VALUES (@time, @level, NULLIF(@correlationid,''), @machinename, @processname, @SubprocessOriginator, @logger, @message);
          </commandText>
          <parameter name="@time" layout="${date:universalTime=true:format=yyyy-MM-dd HH\:mm\:ss.fff}" />
          <parameter name="@level" layout="${level}" />
          <parameter name="@correlationid" layout="${event-context:item=CorrelationId}" />
          <parameter name="@machinename" layout="${machinename}" />
          <parameter name="@processname" layout="${processname}" />
          <parameter name="@SubprocessOriginator" layout="${event-context:item=SubprocessOriginator}" />
          <parameter name="@logger" layout="${logger}" />
          <parameter name="@message" layout="${message}" />
        </target>
      </target>
      <!-- AsyncWrapper -->
    </targets>
    <rules>
      <logger name="VaultPeformanceTracer" minlevel="Error" writeTo="DebugTargets" final="true" />
      <logger name="LTN.IR.Common.InstrumentationLogName" minlevel="Info" writeTo="InstrumentationCsv" final="true" />
      <logger name="*" minlevel="Debug" writeTo="DebugTargets" />
      <logger name="*" writeTo="TraceFile" />
      <logger name="*" minlevel="Debug" writeTo="DBLog" />
      
    </rules>
  </nlog>

  <connectionStrings>
    <!-- Note: Ensure caution while changing the below tokenized line. -->
    <!-- #ifdef _xml_preprocess -->
    <!-- <add name="ConcordanceLogConnection" connectionString="Data Source=${DB-IP};Initial Catalog=EVLogs;User ID=${DB-Uname};Password=${DB-PWD}" providerName="System.Data.SqlClient" /> -->
    <!-- <add name="ConcordanceEVConnection" connectionString="Data Source=${DB-IP};Initial Catalog=EVMaster;User ID=${DB-Uname};Password=${DB-PWD};MultipleActiveResultSets=True" providerName="System.Data.SqlClient" /> -->
    <!-- <add name="EVDevConnection" connectionString="Data Source=${DB-IP};Initial Catalog=EVMaster;Persist Security Info=True;User ID=${DB-Uname};Password=${DB-PWD}" providerName="System.Data.SqlClient" /> -->
    <!--<add name="EVLogsEntities" connectionString="metadata=res://*/DataAccess.EVLogs.EVLogsDataModel.csdl|res://*/DataAccess.EVLogs.EVLogsDataModel.ssdl|res://*/DataAccess.EVLogs.EVLogsDataModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=${DB-IP};initial catalog=EVLogs;persist security info=True;user id=${DB-Uname};password=${DB-PWD};multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" /> -->
    <!-- #else -->
    <add name="ConcordanceLogConnection" connectionString="Data Source=EVDBALIAS;Initial Catalog=EVLogs;User ID=cevadm;Password=cevadm" providerName="System.Data.SqlClient" />
    <add name="ConcordanceEVConnection" connectionString="Data Source=EVDBALIAS;Initial Catalog=EVMaster;User ID=cevadm;Password=cevadm;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />
    <add name="EVDevConnection" connectionString="Data Source=EVDBALIAS;Initial Catalog=EVMaster;Persist Security Info=True;User ID=cevadm;Password=cevadm" providerName="System.Data.SqlClient" />
    <add name="EVLogsEntities" connectionString="metadata=res://*/DataAccess.EVLogs.EVLogsDataModel.csdl|res://*/DataAccess.EVLogs.EVLogsDataModel.ssdl|res://*/DataAccess.EVLogs.EVLogsDataModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=EVDBALIAS;initial catalog=EVLogs;persist security info=True;user id=cevadm;password=cevadm;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="PLMasterEntities" connectionString="metadata=res://*/PLMaster.csdl|res://*/PLMaster.ssdl|res://*/PLMaster.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=LT028310\SQLEXPRESS;initial catalog=PLMaster;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    
    <!-- #endif -->
  </connectionStrings>
  <system.data>
    <DbProviderFactories>
      <!-- Need this in here for the tests to work correctly.  
        The Effort library registers the provider itself (as the invarient "EffortProvider" - without "Test") -->
      <add name="Effort Provider Test" description="Effort Provider for unit testing" invariant="EffortProviderTest" type="Effort.Provider.EffortProviderFactory,Effort" />
    </DbProviderFactories>
  </system.data>
  <enterpriseLibrary.ConfigurationSource selectedSource="System Configuration Source">
    <sources>
      <add name="File Configuration Source" type="Microsoft.Practices.EnterpriseLibrary.Common.Configuration.FileConfigurationSource, Microsoft.Practices.EnterpriseLibrary.Common" filePath="common.config" />
      <add name="System Configuration Source" type="Microsoft.Practices.EnterpriseLibrary.Common.Configuration.SystemConfigurationSource, Microsoft.Practices.EnterpriseLibrary.Common" />

    </sources>
  </enterpriseLibrary.ConfigurationSource>
  <byPassAuthentication>
    <add key="ExceptionService" value="ExceptionService.svc/" />
    <add key="ProductDetailsQuestions" value="ProductDetailsService.svc/productdetails/questions" />
    <add key="ProductDetailsAnswers" value="ProductDetailsService.svc/productdetails/answers" />
    <add key="ProductDetailsSuperAdmins" value="UserService.svc/users/superadmins" />
    <add key="ResetPassword" value="UserService.svc/superadminpassword" />
    <add key="ChangePassword" value="UserService.svc/password" />
    <add key="svchelp" value="/help" />
    <add key="anyhelp" value="/help/" />
    <add key="Exception" value="EVExceptionHandler" />
    <add key="NotifyRedaction" value="DocumentService.svc/Notify" />
    <add key="NotifyProduction" value="ProductionService.svc/Notify" />
    <add key="ServiceSchema" value="request/schema" />
    <add key="ServiceExample" value="request/example" />
    <add key="PreferenceValue" value="PreferenceService.svc/system/preference" />
    <add key="NotifyPrint" value="PrintToFileService.svc/print-to-file/notify" />
    <add key="BulkPrint" value="BulkPrintService.svc/services/bulk-print/notify" />
    <add key="favico" value="/favicon.ico.svc" />
    <add key="CmgServer" value="/CmgServer.svc" />
    <add key="CmgService" value="/CmgService.svc" />
    <add key="CmgGeneralConfigService" value="/CmgGeneralConfig.svc" />
    <add key="CmgInstanceService" value="/CmgInstanceConfig.svc" />
    <add key="CmgServiceInstance" value="/CmgServiceInstance.svc" />
    <add key="EVLogsService" value="/EVLogsService.svc" />
    <add key="wcf:serviceHostingEnvironment:useClassicReadEntityBodyMode" value="true" />
  </byPassAuthentication>
  <EVUserNameToServerIdOverride>
    <add key="Kostya" value="11110000111100001111000011110000" />
  </EVUserNameToServerIdOverride>
  <appSettings>
    <add key="ApplicationName" value="Concordance" />
    <add key="EncryptionKey" value="29EC5DA04BE11A4F1B1ADADFF423D3661EF7006171ECFB05" />
    <add key="ExceptionService" value="ExceptionService.svc/" />
    <add key="ServiceName" value="Concordance EVolution" />
    <add key="VelocityContentChunkSize" value="5000000" />
    <add key="PerfLogRequestPath" value=".*\.(?:axd|svc).*" />
    <add key="aspnet:MaxJsonDeserializerMembers" value="20000" />
    <add key="CopyFilesLocallyIfGreaterThan" value="256000" />
    <add key="LicensingService" value="http://localhost:8485/LicensingService.svc/" />
    <add key="ConfigurationAgentService" value="http://{0}:2116/ConfigAgentService.svc/" />
    <add key="aspnet:MaxHttpCollectionKeys" value="20000" />
    <add key="DocumentSamplingSearchRetrieveBatchSize" value="10000" />
    <add key="LTN.Analytics.CategorizationMinScore" value="0.6" />
    <add key="CAAAT_URL" value="http://lngnpvd-6000654:8080/nexus/r1" />
    <add key="AnalyticCategorizationMinimumScore" value="0.6" />
    <add key="LTN.IR.Common.InstrumentationOn" value="false" />
    <add key="TrainingSetSize" value="50" />
    <add key="SeedTrainingSetSize" value="500" />
    <add key="ActiveLearningRecommendedExamples" value="true" />
    <add key="LTN.IR.ESPRovider.BulkIndexCommitInterval" value="-1" />
    <add key="LTN.IR.ESPRovider.DefaultIndexCommitInterval" value="1" />
    <add key="LTN.IR.ESPRovider.SearchRequestTimeoutInMs" value="180000" />
    <add key="LTN.IR.ESPRovider.SearchConnectionTimeoutInMs" value="180000" />
    <add key="LTN.IR.ESPRovider.SetPingTimeInSeconds" value="180" />
    <add key="LTN.IR.ESPRovider.SetDeadTimeoutInMinutes" value="1" />
    <add key="LTN.IR.ESPRovider.SetMaxDeadTimeoutInMinutes" value="30" />
    <add key="LTN.IR.ESPRovider.SetMaxRetryTimeoutInMinutes" value="3" />
    <add key="LTN.IR.ESPRovider.MaximumRetries" value="5" />

    <add key="TrainingUncertaintyRangeMin" value="0.48" />
    <add key="TrainingUncertaintyRangeMax" value="0.52" />
    <add key="F1DeviationPercentage" value="3" />
    <add key="TrainingRoundsForDocscoreStability" value="5" />
    <add key="TrainingRoundsForF1Stabilty" value="5" />
    <add key="TrainingUncertaintyAvg" value="0" />
    <add key="LTN.IR.ESProvider.MaxDocsForUpdateApi" value="250" />
    
  </appSettings>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5.1" />
      </system.Web>
  -->
  <system.web>
    <!--
            Set compilation debug="true" to insert debugging 
            symbols into the compiled page. Because this 
            affects performance, set this value to true only 
            during development.
        -->
    <!-- Note: Ensure caution while changing the below tokenized line. -->
    <!-- #ifdef _xml_preprocess -->
    <!--<compilation debug="${WebConfig-DebugFlag}" targetFramework="4.0"/>-->
    <!-- #else -->
    <compilation debug="true" targetFramework="4.5.1" />
    <!-- #endif -->
    <!--
            The <authentication> section enables configuration 
            of the security authentication mode used by 
            ASP.NET to identify an incoming user. 
        -->
    <authentication mode="Windows" />
    <!--
            The <customErrors> section enables configuration 
            of what to do if/when an unhandled error occurs 
            during the execution of a request. Specifically, 
            it enables developers to configure html error pages 
            to be displayed in place of a error stack trace.

        <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
            <error statusCode="403" redirect="NoAccess.htm" />
            <error statusCode="404" redirect="FileNotFound.htm" />
        </customErrors>
        -->
    <!-- Note: Ensure caution while changing the below tokenized line. -->
    <!-- #ifdef _xml_preprocess -->
    <!--<sessionState allowCustomSqlDatabase="false" mode="SQLServer" sqlCommandTimeout="5400" sqlConnectionString="Server=${DB-IP};User ID=${DB-Uname};Password=${DB-PWD}" timeout="60" />-->
    <!-- #else -->
    <sessionState allowCustomSqlDatabase="false" mode="SQLServer" sqlCommandTimeout="5400" sqlConnectionString="Server=EVDBALIAS;User ID=cevadm;Password=cevadm" timeout="60" />
    <!-- #endif -->
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID" />
    <httpModules />
    <!-- Note: Ensure caution while changing the below tokenized line. -->
    <!-- #ifdef _xml_preprocess -->
    <!--<machineKey decryptionKey="${WCFDecryptionKey}" validationKey="${WCFValidationKey}" />-->
    <!-- #else -->
    <machineKey decryptionKey="96C78BBDB301E48BFB2CB1DF0FC47FC0A9C947A3D22EE641" validationKey="A8228BB0ABD89EBAFA546920EFF2010FAE7DB67C01B62DB1CE061029AB24696356770429A5C933CC423AA1E9333ACC8C4E821D52CDD7A26155B158F45653F704" />
    <!-- #endif -->
    <!-- This statement redirects ASP.NET trace messages to System.Diagnostic tracing -->
    <trace writeToDiagnosticsTrace="true" />
  </system.web>
  <!--
        The system.webServer section is required for running ASP.NET AJAX under Internet
        Information Services 7.0.  It is not necessary for previous version of IIS.
    -->
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <modules>
      <remove name="WebDAVModule" />
    </modules>
    <directoryBrowse enabled="false" />
    <httpErrors errorMode="Detailed" />
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="3000000000" maxUrl="1073741824" maxQueryString="1073741824" />
      </requestFiltering>
    </security>
  </system.webServer>
  <system.serviceModel>
    <client>
      <endpoint address="http://localhost:8485/LicensingService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ILicensingService" contract="ClassicServices.ILicensingService" name="BasicHttpBinding_ILicensingService" />
      <endpoint address="http://localhost:8485/DcbInformationBroker.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IDcbInformationBroker" contract="DcbInformationBroker.IDcbInformationBroker" name="BasicHttpBinding_IDcbInformationBroker" />
    </client>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_ILicensingService" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferSize="2147483647" maxBufferPoolSize="2147483647" maxReceivedMessageSize="2147483647" messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <security mode="None">
            <transport clientCredentialType="None" proxyCredentialType="None" realm="" />
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>
        </binding>
        <binding name="BasicHttpBinding_IDcbInformationBroker">
          <security mode="TransportCredentialOnly">
            <transport clientCredentialType="Windows" />
          </security>
        </binding>
      
      </basicHttpBinding>
      <netNamedPipeBinding>
        <binding name="NetNamedPipeBinding_IDcbInformationBroker" closeTimeout="00:10:00" openTimeout="00:10:00" receiveTimeout="00:10:00" sendTimeout="00:10:00" transactionFlow="false" transferMode="Buffered" transactionProtocol="OleTransactions" hostNameComparisonMode="StrongWildcard" maxBufferPoolSize="524288" maxBufferSize="65536" maxConnections="10" maxReceivedMessageSize="65536">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <security mode="None">
            <transport protectionLevel="EncryptAndSign" />
          </security>
        </binding>
      </netNamedPipeBinding>
    </bindings>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="True" multipleSiteBindingsEnabled="true" minFreeMemoryPercentageToActivateService="0" />
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <!-- To avoid disclosing metadata information, set the value below to false and remove the metadata endpoint above before deployment -->
          <serviceMetadata httpGetEnabled="true" />
          <!-- To receive exception details in faults for debugging purposes, set the value below to true.  Set to false before deployment to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <standardEndpoints>
      <webHttpEndpoint>
        <standardEndpoint helpEnabled="true" automaticFormatSelectionEnabled="true" />
      </webHttpEndpoint>
    </standardEndpoints>
    <services>
      <service name="CGN.Paralegal.Services.Implementation.Analytics.AnalyticsService">
        <endpoint kind="webHttpEndpoint" contract="CGN.Paralegal.ServiceContracts.Analytics.IAnalyticsService" />
      </service>
    </services>
  </system.serviceModel>
  <unity>
      <container>

      <register name="CmgContext" type="CGN.Paralegal.External.DataAccess.CentralizedConfigurationManagement.ICmgContext, CGN.Paralegal.Master" mapTo="CGN.Paralegal.External.DataAccess.CentralizedConfigurationManagement.CmgContext, CGN.Paralegal.Master">
              <constructor />
      </register>
      <register name="PolicyService" type="CGN.Paralegal.ServiceContracts.PolicyManagement.IPolicyService,CGN.Paralegal.ServiceContracts" mapTo="CGN.Paralegal.ServiceImplementation.PolicyManagement.PolicyService,CGN.Paralegal.Services" />
      <register name="DatasetVaultManager" type="CGN.Paralegal.External.VaultManager.IDataSetVaultManager,CGN.Paralegal.External" mapTo="CGN.Paralegal.External.VaultManager.DataSetVaultManager,CGN.Paralegal.External" />
      <register name="ReviewSetVaultManager" type="CGN.Paralegal.External.VaultManager.IReviewSetVaultManager,CGN.Paralegal.External" mapTo="CGN.Paralegal.External.VaultManager.ReviewSetVaultManager,CGN.Paralegal.External" />
      <register name="BinderVaultManager" type="CGN.Paralegal.External.VaultManager.IBinderVaultManager,CGN.Paralegal.External" mapTo="CGN.Paralegal.External.VaultManager.BinderVaultManager,CGN.Paralegal.External" />
      <register name="DocumentVaultManager" type="CGN.Paralegal.External.VaultManager.IDocumentVaultManager,CGN.Paralegal.External" mapTo="CGN.Paralegal.External.VaultManager.DocumentVaultManager,CGN.Paralegal.External" />
      <register name="AuditRepository" type="CGN.Paralegal.External.AuditLog.IAuditRepository, CGN.Paralegal.Master" mapTo="CGN.Paralegal.External.AuditLog.AuditRepository, CGN.Paralegal.Master" />
      <register name="ReportFactory" type="CGN.Paralegal.Business.Reports.IReportFactory, CGN.Paralegal.Business" mapTo="CGN.Paralegal.Business.Reports.ReportFactory, CGN.Paralegal.Business" />
      <register name="TermFactory" type="CGN.Paralegal.Business.TermManagement.ITermFactory, CGN.Paralegal.Business" mapTo="CGN.Paralegal.Business.TermManagement.TermFactory, CGN.Paralegal.Business" />
      </container>
  </unity>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
  </startup>
  <system.diagnostics>
    <sources>
      <!-- for details of this configuration see http://msdn.microsoft.com/en-us/library/ms733025.aspx -->
      <source name="System.ServiceModel" switchValue="Critical">
        <listeners>
          <add name="nlog" />
        </listeners>
      </source>
      <!-- Setting switch Value to Information or Verbose would give full request/response details -->
      <source name="System.Net" switchValue="Critical">
        <listeners>
          <add name="nlog" />
        </listeners>
      </source>
      <source name="System.Net.Sockets" switchValue="Critical">
        <listeners>
          <add name="nlog" />
        </listeners>
      </source>
    </sources>
    <!-- Routing Syste.Diagnostic traces to nlog -->
    <sharedListeners>
      <add name="nlog" type="NLog.NLogTraceListener, NLog" />
    </sharedListeners>
    <!-- To see trace data in the trace log immediately after requesting your ASP.NET page, flush the buffer with every trace write. -->
    <trace autoflush="true" />
  </system.diagnostics>
  <runtime>
    <loadFromRemoteSources enabled="true" />
    <gcServer enabled="true" />
    <gcConcurrent enabled="false" />
        <!--http://stackoverflow.com/questions/22507189/could-not-load-file-or-assembly-newtonsoft-json-version-4-5-0-0-culture-neutr-->
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
        <dependentAssembly>
            <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
          <bindingRedirect oldVersion="0.0.0.0-7.0.0.0" newVersion="7.0.0.0" />
        </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>

    </assemblyBinding>

  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <system.runtime.caching>
    <memoryCache>
      <namedCaches>
        <add name="Default" pollingInterval="00:01:00" />
      </namedCaches>
    </memoryCache>
  </system.runtime.caching>
</configuration>