<div class="modal-header">
    <h3 class="modal-title">{{ CreatePredictionSetController.localized.ModalTitle }}</h3>
</div>
<div class="modal-body">
    <div>{{ CreatePredictionSetController.localized.Message }}</div>
</div>
<div class="modal-footer">
    <button class="btn btn-default" ng-click="CreatePredictionSetController.cancel()">{{ CreatePredictionSetController.localized.Cancel }}</button>
    <button class="btn btn-primary" ng-click="CreatePredictionSetController.ok()">{{ CreatePredictionSetController.localized.OK }}</button>
</div>

