<div id="dashboard" class="panel-body dashboard-heading">
  
        <div ng-include="'/App/analytics/projects/dashboard/Header.html'"></div>
    

    <br />

    <div class="row text-center">
        <div class="col-lg-4">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">Top Area of Practices</h3>
                </div>
               <div>
                   <p ng-repeat="aop in DashboardController.topTenAOP" ng-class-odd="'odd'" ng-class-even="'even'">
                        <a ng-click="DashboardController.goToSearchResult(aop.AOPName)">{{aop.AOPName}}</a>
                   </p>
                </div>
            </div>
        </div>

        <div class="col-lg-4">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">Top Locations</h3>
                </div>
                <div>
                    <p ng-repeat="loc in DashboardController.topTenCity" ng-class-odd="'odd'" ng-class-even="'even'">
                        <a ng-click="DashboardController.goToSearchResult(loc.LocationName)"> {{loc.LocationName}}</a>
                    </p>
                </div>
            </div>
        </div>

        <div class="col-lg-4">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">Top ParaLegals</h3>
                </div>
                <div>
                    <p ng-repeat="paralegal in DashboardController.topTenParaLegal" ng-class-odd="'odd'" ng-class-even="'even'">
                        <a ng-click="DashboardController.goToProfile(paralegal.ParaLegalID)"> {{paralegal.Name}}</a>
                    </p>
                </div>
            </div>
        </div>
    </div>

    
</div>


