<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="ValidAppUrl" value="http://localhost:53434/App/analytics/app.html"/>
    <add key="InvalidAppUrl" value="http://localhost:876/z.html"/>
    <add key="ChromeDriverPath" value="@..\..\..\..\..\..\..\Lib\Chromedriver2.4.4" />
  </appSettings>
</configuration>
